html
{ 
	background-color: #f3f3f3;
    background: url('../img/background.jpg') no-repeat center center fixed;
}

h1
{
	color: #99A;
	font-size: 34px;
    
	font-family: "Arial Rounded MT Bold";
}

h1 img
{
	vertical-align: middle;
	padding-right: 10px;
}

body
{
	font-size: 120%;
	width: auto;
}

table
{
    border-collapse: collapse;
} 

table.touch
{
	border-collapse: separate;
    border-spacing: 10px;
}

img.actionIcon
{
    float:right;
}


table.touch td
{
  -moz-border-radius: 10px !important;
  border-radius: 10px;
  padding:10px;
  border-collapse: collapse !important;
  border: none !important;
  color: blue;
  background-color:rgba(50,50,50,0.5);
  width: 35px;
  text-align:center;
}

table.touch td:hover 
{ 
	background-color: black !important;
}

table.matrix 
{
  border-collapse: collapse;
}

table.matrix th
{
    background: none repeat scroll 0% 0% rgba(185, 201, 254, 0.6);
}

table.matrix td
{
    background-color: rgba(255, 255, 255, 0.6);
}

table.matrix th,td
{
  border: 1px solid #BBBBBB;
  padding: 5px;
}

:focus 
{
    outline: 0;
}

a
{
	color: #4D2E00;
}

table.touch a
{
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	color: #FFA31A;
}

#searchbar {
    height: 36px;
    left: 380px;
    position: absolute;
    top: 30px;
    width: 394px;
}


#searchbar form {
    position: relative;
}
form {
    margin: 0;
    padding: 0;
}


#searchbar input.zoekterm {
    background-image: url("img/vergrootglas.png");
    background-repeat: no-repeat;
    height: 22px;
    left: 0;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 3px;
    position: absolute;
    top: 2px;
    width: 279px;
}

#searchbar input.zoekbutton {
    position: absolute;
    right: 0;
    top: 0;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

