html { 
	background-color: #f3f3f3;
}

h1
{
	color: #99A;
	background-color: #FFF;
	font-size: 34px;
    padding-left: 70px;
	
	font-family: "Arial Rounded MT Bold";
}

body
{
	font-size: 120%;
	width: auto;

}

table.touch
{
	border-spacing: 10px;
}


table.touch td
{
  -moz-border-radius: 10px !important;
  border-radius: 10px;
  padding:10px;
  border-collapse: collapse !important;
  border: none !important;
  background-color: black;
  width: 35px;
  text-align:center;
}


table.touch td:hover 
{ 
	background-color: #8C8C8C !important;
}

a
{
	color: #4D2E00;
}

table.touch a
{
	font-family: "Arial Rounded MT Bold";
	font-size: 28px;
	color: #FFA31A;
}

