html
{ 
	background-color: #f3f3f3;
    background: url('../img/background.jpg') no-repeat center center fixed;
}

h1
{
	color: #99A;
	font-size: 34px;
    
	font-family: "Arial Rounded MT Bold";
}

h1 img
{
	vertical-align: middle;
	padding-right: 10px;
}

body
{
	font-size: 120%;
	width: auto;
}

table.touch
{
	border-spacing: 10px;
}

img.actionIcon
{
    float:right;
}


table.touch td
{
  -moz-border-radius: 10px !important;
  border-radius: 10px;
  padding:10px;
  border-collapse: collapse !important;
  border: none !important;
  color: blue;
  background-color:rgba(50,50,50,0.5);
  width: 35px;
  text-align:center;
}


table.touch td:hover 
{ 
	background-color: black !important;
}

:focus 
{
    outline: 0;
}

a
{
	color: #4D2E00;
}

table.touch a
{
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	color: #FFA31A;
}

